.gaduur {
  width: 400px;
  height: 40px;
  border: 1px solid #abb2bf;
  margin-top: 350px;
  margin-left: 50px;
}
.dorvoljin {
  width: 15px;
  height: 15px;
  background-color: #c778dd;
  float: left;
  margin-left: 10px;
  margin-top: 12px;
}
.text1 {
  font-size: 16px;
  color: #abb2bf;
}
.text2 {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.gaduur > .text1,
.text2,
.dorvoljin {
  display: inline-block;
}
.gaduur > .text1,
.text2 {
  margin-top: 7px;
  margin-left: 20px;
}
