.Drs {
  border: 1px solid #abb2bf;
  width: 582px;
  height: 65px;
  margin: auto;
}
.power {
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-left: 20px;
  margin-top: 3px;
}
.Hug1 {
  margin-top: -15px;
  margin-left: 10px;
}
.Who {
  border-left: 1px solid #abb2bf;
  border-bottom: 1px solid #abb2bf;
  border-right: 1px solid #abb2bf;
  width: 150px;
  height: 46px;
  float: right;
  margin-right: 20%;
}
.super {
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-left: 20px;
  margin-top: -5px;
}
.Hug2 {
  margin-top: -15px;
  margin-left: 110px;
}
.hooson {
  width: 104px;
  height: 94px;
  border: 1px solid #abb2bf;
  margin-top: -50px;
  margin-right: 5%;
  float: right;
}
