.sec {
  margin-top: -230px;
}
.neg {
  margin-left: 180px;
  font-size: 30px;
}
.tsagaan {
  color: white;
}
.ygaan {
  color: #c778dd;
}
.doodygaan {
  color: #c778dd;
  margin-top: -30px;
}
.neg > .tsagaan,
.ygaan {
  display: inline-block;
  margin-top: 100px;
}
.hoyr {
  font-size: 16px;
  margin-left: 180px;
  color: #abb2bf;
  margin-top: -20px;
}
.gurav {
  margin-left: 180px;
  width: 145px;
  height: 40px;
  border: 1px solid #c778dd;
}
.me {
  color: white;
  padding-left: 16px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
}
